*{
    margin: 0;
    padding: 0;
    font-size: 18px;
    box-sizing: border-box;
}

/* ------------------------- HEADER ------------------------*/
.header{
    display: flex;
    justify-content: space-between;
}
.header__logo-image--left{
    margin-left: 10px;
    margin-top: -8px;

}
.header__logo-image--right{
    margin-right: 150px;
    margin-top: -8px;
}
.header__menu{
    display: none;
}
.header__navbar{
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 50px;   
}
.header__navbar-mobile{
    display: none;
}
.header__navbar-list{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 13px;
}
.header__navbar-list li a{
    transition: all 0.3s;
    padding: 3px 0;
}
.header__navbar-list li a:hover ,
.header__navbar-list li a:active{
    border-bottom: 3px solid  red;
}
.header__navbar-item ,
.header__navbar-item-link{
    text-decoration: none;
    color: rgb(71, 70, 70);
    font-weight: 540;
}
.header__navbar ul{
    padding:2px 18px ;
}
.header__navbar-icon{
    display: none;
}
.header__navbar-iconx{
    font-size: 140px;
    position: absolute;
    top: 60px;
    right: 42px;
    color: white; 
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}
/* ------------------------- CONTENT ------------------------*/
.content__slider-image{
    margin: 20px 12px;
    width: 1500px;
}
.content__line-image{
    display: block;
    margin: 0 auto;

}
.content__introdue ,
.content__paragraph{
    text-align: center;
}

.content__title h2{
    text-align: center;
}
.content__title{
    margin-top: 100px;
}
.content__list-image
{
    display: flex;
    justify-content: space-around;

}
.content__figcaption{
    font-size: 15px;
    margin-top: 10px;
}
.content__figure{
    cursor: pointer;
}
.content__figure a{
    text-decoration: none;
}
.content__figcaption a{
    font-size: 15px;
    color: red;
    font-weight: 800;
    text-decoration: none;
}
.content__list-item{
    width: 300px;
}
.content__list-img{
    display: flex;
    justify-content: space-evenly;
}
.content__img{
    height: 475px;
}

.content__image-item{
   position: relative;
}
.content__image-child{
    width: 350px;
}
.content__image-child img{
    width: 350px;
}


.content__image img{
    border-bottom: solid 3px rgb(161, 26, 26);
    padding: 3px 0;
}
.content__text{
    border: solid 1px black;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 2px;
    display: none;
}
.content__image-main ,
.content__image-child{
    transition: all 0.3s linear;
    cursor: pointer;
}
.content__image-child
{
    display: block;
    position: relative;
    margin-bottom: 10px;
}
.content__text1{
    border: solid 1px black;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    position: absolute;
    left: 2px;
    bottom: 5px;
    display: none;
    
}
.content__image-child img:hover ~p,
.content__image-main img:hover ~p{
    display: block;
}

.content__image-child:hover,
.content__image-main:hover
{
    border-bottom: solid 3px rgb(161, 26, 26);
}

@media only screen and (max-width: 375px){
    .hide-on-mb{
        display: none;
    }
    .english{
        width: 1500px;
        padding: 0 50px;
    }
    .header{
        display: none;
    }
    .header__menu{
        display: flex;
        position: absolute;
        top: 0;
        left: 55px;
    }
    .header__menu i{
        font-size: 126px
    }
    .header__navbar{
        width: 1060px;
        height: auto;
        background: #333;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        animation: fadeIn 0.3s ease;
        display: none;    
    }
    .header__navbar-mobile{
        display: block;
    }
    .header__navbar ul {
        padding: 100px 92px;
    }
    .header__navbar-list{
        display: block;
    }
    .header__navbar-item{
        margin-bottom: 22px;
    }
    .header__navbar-item, 
    .header__navbar-item-link{
        text-decoration: none;
        color: white;
        font-weight: 540;
        font-size: 51px;
    }
    .header__navbar-icon{
        display: block;
    }
    .header__navbar-mobile{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        height: 120px;
        margin-left: 48px;
    }
    .header__navbar-mobile-item{

    }
    .header__navbar-mobile-link{
        font-size: 66px;
        text-decoration: none;
        color: black;
        margin: 0px 20px;
    }
    @keyframes fadeIn {
        from{
            opacity: 0;
            transform: translateX(-100%);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
        
    }
    .nav__input:checked ~.header__navbar{
        display: block;
    }
    .nav__input:checked ~.header__navbar-mobile{
        display: none;
    }
    .nav__input:checked ~.overlay{
        display: block;
    }

    .content__slider-image{
    }
    .content__introdue h1,
    .content__paragraph{
        font-size: 68px;
    }
    .content__line-image {
        display: block;
        margin: 0 auto;
        height: 50px;
    }
    .content__paragraph{
        text-align: left;
    }

    .content__title h2{
        font-size: 68px;
    }
    .content__list-image{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .content__figure{
        cursor: pointer;
        flex-basis: 45%;
    }
    .content__list-item{
        width: 100%;
    }
    .content__figcaption{
        font-size: 42px;
        margin-top:0 ;
    }
    .content__figcaption a{
        font-size: 37px;
        color: red;
        font-weight: 800;
        text-decoration: none;
    }

    .content__list-img{
        flex-wrap: wrap;
    }
    .content__img{
        height: 888px;
    }
    .content__image-item {
        flex-basis: 50%;
    }
    .content__image-item--first,
    .content__image-child{
        margin-bottom: 35px;
    }
    .content__image-child img {
        width:  678px;
    }
    .content__text{
        border: solid 1px black;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 62px;
        position: absolute;
        bottom: 12px;
        left: 0;
        display: block;
    }
    .content__text1 {
        border: solid 1px black;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 46px;
        width: 678px;
        position: absolute;
        left: 8px;
        bottom: 14px;
        display: block;
    }
    #r2:checked ~ .s1 {
        margin-left: -55% !important;
    }
   
}
.content__slider{
    display: flex;
    width: 200%;
    position: relative;
}

.navigation{
    position: absolute;
    bottom: 37px;
    left: 15%;
    transform: translateX(200px);
    display: flex;
}
.bar{
    width: 100px;
    height: 20px;
    border: 2px solid white;
    margin: 0 10px;
    cursor: pointer;
    transition: .4s;
}
.bar:hover{
    background-color: white;
}


#r2:checked ~ .s1{
    margin-left: -50%;
}
.slides{
    width: 100%;
    overflow: hidden;
}